# Dependencies
node_modules/
.pnp/
.pnp.js

# Environment Variables
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Build outputs
build/
dist/
coverage/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
logs/
*.log

# IDE
.idea/
.vscode/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Mobile
*.keystore
!debug.keystore

# Testing
/coverage

# Production
/build

# Backend specific
backend/newKey.pem
backend/uploads/

# Frontend specific
frontend/.env
frontend/build/

# React Native
reactnative/ios/Pods/
reactnative/android/app/build/
reactnative/.gradle/
reactnative/android/.gradle/
reactnative/android/captures/
reactnative/android/local.properties
reactnative/ios/build/
reactnative/*.hprof

# ML Models
ml/models/
*.h5
*.pkl
*.model
